<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center text-lg-left">
        <h3 class="cta-title">DONATE</h3>
        <p class="cta-text" style="margin-right:50px;">You may donate our social work. Do you want to donate us?</p>
      </div>

      <div class="col-lg-9 cta-btn-container text-center">
        <img src="../assets/img/clients/all-logo.png" alt="">
      </div>

    </div>

  </div>
</section><!-- #call-to-action -->
