<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center text-lg-left">
        <h3 class="cta-title">DONATE</h3>
        <p class="cta-text">You may donate our social work. Do you want to donate us?</p>
      </div>

      <div class="col-lg-3 col-sm-12 text-center">
        <img src="assets/img/clients/amex.png" alt="" style="padding:20px;">
      </div>

      <div class="col-lg-3 col-sm-12 text-center">
        <img src="assets/img/clients/paypal.png" alt="" style="padding:20px;">
      </div>

      <div class="col-lg-3 col-sm-12 text-center">
        <img src="assets/img/clients/master-card.png" alt="" style="padding:20px;">
      </div>

    </div>

  </div>
</section><!-- #call-to-action -->
