<!--==========================
  About Section
============================-->
<section id="about" class="wow fadeInUp">
  <div class="container">
  <div class="section-header">
      <h2>AIMS AND OBJECTIVES</h2>
      <p>Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
        Marriage Registration, Post marriage Counselling.</p>
      </div>
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="../assets/img/about-img.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>Let's Walk Together</h2>
        <h3>Our vision is to help american muslims to find proper soulmate for them. We are here with you.</h3>
        <p>Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
          Marriage Registration, Post marriage Counselling.</p>
        <ul>
          <li><i class="icon ion-ios-checkmark-outline"></i> Help finding best soulmates.</li>
          <li><i class="icon ion-ios-checkmark-outline"></i> Arranging different marriage related events.</li>
          <li><i class="icon ion-ios-checkmark-outline"></i> Spreading importance of marriage among American Muslim Society.</li>
        </ul>
      </div>
    </div>

  </div>


</section><!-- #about -->


<!--==========================
  Our Team Section
============================-->
<section id="team" class="wow fadeInUp">

  <div class="container">
    <div class="section-header">
      <h2>Our Team</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team1.jpg" alt=""></div>
          <div class="details">
            <h4>Rezaul Karim</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team2.jpg" alt=""></div>
          <div class="details">
            <h4>Fazlur Rahman</h4>
            <span>Technical Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team3.jpg" alt=""></div>
          <div class="details">
            <h4>Golam Morshed</h4>
            <span>Financial Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team4.jpg" alt=""></div>
          <div class="details">
            <h4>Jakir Hossain</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->
