.sidebar {
  width: 100%;
  display: inline-block;
  text-align:left;
}
.sidebar-sub {
  width: 100%;
  color: #FFFFE0;
  padding-left: 30px;
  font-size: 10.5px;
  display: inline-block;
  text-align:left;
}
