<app-profile-home></app-profile-home>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">

              <div class="form-group">
                  <label>Short Bio</label>
                  <input type="text" class="form-control" placeholder="Enter Short Bio">
              </div>
          </div>
</div>

<div class="col-lg-9 content ml-auto mr-auto">
  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        GENERAL INFORMATION
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.fullName" class="form-control" placeholder="Enter Your Full Name" id="fullName">
                <label for="fullName">Full Name</label>
            </div>
          </div>
            <div class="col-sm-3">
                <div class="form-group form-floating">
                    <input type="text" [(ngModel)]="currentUser.nickName" class="form-control" placeholder="Enter Your Nickname(s)" id="nickname">
                    <label for="nickname">Nickname(s)</label>
                </div>
            </div>
            <div class="col-sm-4">
            <label>Gender</label>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input [ngModel]="currentUser.gender" class="form-check-input" type="radio" name="gender" id="male" value="Male">
                    Male
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input [ngModel]="currentUser.gender" class="form-check-input" type="radio" name="gender" id="female" value="Female" >
                    Female
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
            </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <textarea [(ngModel)]="currentUser.address" class="form-control" placeholder="Enter Your Full Address" id="address"></textarea>
                <label for="address">Address</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.city" class="form-control" placeholder="Enter City You Live in" id="city">
                <label for="city">City</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-floating" [ngClass]="{'input-group-focus':focus===true}">
                <select [(ngModel)]="currentUser.state" class="form-select" id="state">
                  <option *ngFor="let state of STATES" value={{state.State}}>{{state.State}}</option>
                </select>
                <label for="state">State</label>
            </div>
          </div>
            <div class="col-sm-4">
                <div class="form-group form-floating">
                    <input type="text" [(ngModel)]="currentUser.zip" class="form-control" placeholder="Enter ZIP Code" id="zip">
                    <label for="zip">ZIP Code</label>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.cellPhone" class="form-control" placeholder="Cell Phone Number" id="cellPhone">
                <label for="cellPhone">Cell Phone</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.workPhone" class="form-control" placeholder="Work Phone" id="workPhone">
                <label for="workPhone">Work Phone</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.homePhone" class="form-control" placeholder="Home Phone" id="homePhone">
                <label for="homePhone">Home Phone</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.email" class="form-control" placeholder="Enter Your Email" id="email">
                <label for="email">Email</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.personalWebsite" class="form-control" placeholder="Personal Website (if any)" id="personalWebsite">
                <label for="personalWebsite">Personal Website</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group form-floating" [ngClass]="{'input-group-focus':focus===true}">
                <input *ngIf=getAge() class="form-control" [(ngModel)]="currentUser.dateOfBirth"
                     name="dp" id="dateOfBirth" type="date" />
                <label for="dateOfBirth">Date of Birth</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group form-floating">
                <input type="text" [ngModel]="currentUser.age" class="form-control" placeholder="Enter Your Age (integer)" id="age">
                <label for="age">Age</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.height" class="form-control" placeholder="Height" id="height">
                <label for="height">Height (cm)</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.weight" class="form-control" placeholder="Weight" id="weight">
                <label for="weight">Weight (kg)</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.placeOfBirth" class="form-control" placeholder="Place of Birth" id="placeOfBirth">
                <label for="placeOfBirth">Place of Birth (State, Province, District, Country)</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.health" class="form-control" placeholder="health conditions" id="health">
                <label for="health">Please disclose any health conditions, allergies, or disabilities, if any</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
          <label>Current Marital Status:</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.maritalStatus" name="maritalStatus" id="single" value="Single" checked="">
                  Single
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.maritalStatus" name="maritalStatus" id="divorced" value="Divorced" >
                  Divorced
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.maritalStatus" name="maritalStatus" id="widowed" value="Widowed" >
                  Widowed
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            <label>Do You Have Children?</label>
            <br>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [(ngModel)]="currentUser.children" name="children" id="no" value="No" checked="">
                    No
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [(ngModel)]="currentUser.children" name="children" id="yes" value="Yes" >
                    Yes
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>

          <div class="col-sm-3">
            <div class="form-group form-floating">
                <input type="text" [(ngModel)]="currentUser.childrenNumber" class="form-control" placeholder="How many Children?" id="childrenNumber">
                <label for="childrenNumber">How many Children?</label>
            </div>
          </div>
            <div class="col-sm-6">
                <div class="form-group form-floating">
                    <input type="text" [(ngModel)]="currentUser.childrenAges" class="form-control" placeholder="What are their Ages?" id="childrenAges">
                    <label for="childrenAges">What are their Ages?</label>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
          <label>Immigration Status</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.immigrationStatus" name="immigrationStatus" id="UScitizen" value="US Citizen" >
                  US Citizen
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.immigrationStatus" name="immigrationStatus" id="permanentResident" value="Permanent Resident" >
                  Permanent Resident
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [(ngModel)]="currentUser.immigrationStatus" name="immigrationStatus" id="other" value="Other">
                  Other
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-floating" *ngIf=imStatusOther()>
                    <input type="text" [(ngModel)]="currentUser.immigrationStatusOther" class="form-control" placeholder="What are their Ages?" id="immigrationStatusOther">
                    <label for="immigrationStatusOther">If Other, please specify</label>
                </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Academic & Professional Background
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <h6>Academic Background</h6>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="High School" id="highSchool">
              <label for="highSchool">High School</label>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="High School Year" id="highSchoolYear">
                <label for="highSchoolYear">Year</label>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Bachelors" id="bachelors">
              <label for="bachelors">Bachelors</label>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Bachelors Year" id="bachelorsYear">
                <label for="bachelorsYear">Year</label>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Masters in" id="masters">
              <label for="masters">Masters in</label>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Masters Year" id="mastersYear">
                <label for="mastersYear">Year</label>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Doctorate in" id="doctorate">
              <label for="doctorate">Doctorate in</label>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Doctorate Year" id="doctorateYear">
                <label for="doctorateYear">Year</label>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Other Degree(s)" id="otherDegree">
              <label for="otherDegree">Other Degree(s)</label>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Other Degree(s) Year" id="otherDegreeYear">
                <label for="otherDegreeYear">Year(s)</label>
            </div>
        </div>
      </div>

        <h6>Professional Background</h6>
      <div class="row">
        <div class="col-sm-3">
        <label>Are you currently employed?</label>
        <br>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="employed" id="yes" value="yes" checked="">
                Yes
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="employed" id="no" value="no" >
                No
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        <div class="col-sm-3">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Where do you work?" id="employment">
              <label for="employment">If yes, where do you work?</label>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Position" id="position">
                <label for="position">Position</label>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-floating">
              <input type="text" class="form-control" placeholder="Income (yearly)" id="income">
              <label for="income">Income (yearly)</label>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

Parent/Guardian's Information
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Names and Relationships" id="guarName">
                <label for="guarName">Names and Relationships</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-floating">
                <textarea class="form-control" placeholder="Guardian's Full Address" id="guarAddress"></textarea>
                <label for="guarAddress">Address</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Guardian's City" id="guarCity">
                <label for="guarCity">City</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group form-floating" [ngClass]="{'input-group-focus':focus===true}">
                <select ng-model="myVar" class="form-select" id="guarState">
                  <option value="alabama">Alabama
                  <option value="newyork">New York
                  <option value="california">California
                  <option value="texus">Texus
                </select>
                <label for="guarState">State</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="Guardian's Country" id="guarCountry">
                <label for="guarCountry">Country</label>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group form-floating">
                  <input type="text" class="form-control" placeholder="Guardian's Phone" id="guarPhone">
                  <label for="guarPhone">Phone</label>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group form-floating">
                  <input type="text" class="form-control" placeholder="Guardian's Email" id="guarEmail">
                  <label for="guarEmail">Email</label>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group form-floating">
                  <input type="text" class="form-control" placeholder="Guardian's Profession" id="guarProfession">
                  <label for="guarProfession">Profession</label>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <textarea class="form-control" placeholder="Family Brief" id="familyBrief"></textarea>
                <label for="familyBrief">Please enter any additional information about your family that you would like to share</label>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">

Personal Information
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-12">
          <label>Personal Religious Practice</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="hanafi" value="Hanafi">
                  Hanafi
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="shafiee" value="Shafiee" >
                  Shafiee
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="maliki" value="Maliki" >
                  Maliki
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="hanbali" value="Hanbali" >
                  Hanbali
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="ahleHadith" value="Ahle Hadith" >
                  Ahle Hadith
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="sunni" value="Sunni" >
                  Sunni
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="shiite" value="Shi’ite" >
                  Shi’ite
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="religiousPractice" id="other" value="Other" >
                  Other
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="if Other, Please Specify" id="religiousPracticeOther">
                <label for="religiousPracticeOther">if Other, Please Specify</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <textarea class="form-control" placeholder="Religious Practice Brief" id="religiousPracticeBrief"></textarea>
                <label for="religiousPracticeBrief">Please write about your religious practices, in brief (ex: daily prayers, fasting, attending halaqas, visiting the masjid, etc.)</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group form-floating">
                  <input type="text" class="form-control" placeholder="Revert Time" id="revertTime">
                  <label for="revertTime">If you are a revert, please tell us, when did you accept Islam?</label>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
          <h6>This question is only for Brothers</h6>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="beard" id="bearded" value="Bearded" checked="">
                  I have a beard
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="beard" id="noBeard" value="Not Bearded" >
                  I don’t have a beard
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
          <div class="col-sm-5">
          <h6>This question is only for Sisters: I Wear a-</h6>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="wear" id="headscarf" value="Headscarf">
                  Headscarf
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="wear" id="jelbab-abaya" value="Jelbab-Abaya" >
                  Jelbab/Abaya
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio" style="margin-right:28px;">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="wear" id="niqab" value="Niqab">
                  Niqab
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio" >
                <label class="form-check-label">
                  <input class="form-check-input"  type="radio" name="wear" id="none" value="None">
                  None
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
          <div class="col-sm-3">
          <h6>Are you a smoker?</h6>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="smoker" id="no" value="No" checked="">
                  I do not smoke
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="smoker" id="yes" value="Yes" >
                  I smoke
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">

SPOUSAL PREFERENCES
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-5">
          <h6>Religious Practices</h6>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preReligious" id="sunni" value="Sunni" >
                  Sunni
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preReligious" id="shiite" value="Shi’ite" >
                  Shi’ite
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preReligious" id="other" value="Other" >
                  Other
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          <div class="col-sm-7">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="if Other, Please Specify" id="preReligiousOther">
                <label for="preReligiousOther">if Other, Please Specify</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-floating">
                <textarea class="form-control" placeholder="Religious Practice Preferences in Brief" id="preReligiousBrief"></textarea>
                <label for="preReligiousBrief">Please write any religious practice preferences, in brief</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
          <h6>This question is only for Brothers:</h6>
          <label>Preferences for a wife-</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preWear" id="headscarf" value="Headscarf">
                  Headscarf
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preWear" id="jelbab-abaya" value="Jelbab-Abaya" >
                  Jelbab/Abaya
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio" style="margin-right:28px;">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preWear" id="niqab" value="Niqab">
                  Niqab
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio" >
                <label class="form-check-label">
                  <input class="form-check-input"  type="radio" name="preWear" id="noPreference" value="No Preference">
                  No Preference
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
          <div class="col-sm-4">
          <h6>This question is only for Sisters</h6>
          <label>Preferences for a husband-</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preBeard" id="beard" value="Beard" checked="">
                  Beard
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preBeard" id="noBeard" value="No Beard" >
                  No Beard
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preBeard" id="noPreference" value="No Preference" >
                  No Preference
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
          <div class="col-sm-3">
          <h6>Are You Fine with <br>Smoking?</h6>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preSmoking" id="no" value="No" checked="">
                  No
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preSmoking" id="yes" value="Yes" >
                  Yes
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preSmoking" id="noPreference" value="No Preference" >
                  No Preference
                  <span class="form-check-sign"></span>
                </label>
              </div>
          </div>
          </div>
        <div class="row">
          <h6>Ethnic Background</h6>
          <div class="col-sm-6">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preEthnic" id="own" value="my own ethnic background or country of origin" checked="">
                  I prefer my future spouse from my own ethnic background or country of origin (specify)
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-floating">
                    <input type="text" class="form-control" placeholder="Specify own ethnic background or country" id="preEthnicOwn">
                    <label for="preEthnicOwn">Specify own ethnic background or country</label>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preEthnic" id="specific" value="from a specific ethnicity or country" >
                  I am seeking my future spouse to be from a specific ethnicity or country (specify)
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-floating">
                    <input type="text" class="form-control" placeholder="Specify ethnic background or country" id="preEthnicSpecific">
                    <label for="preEthnicSpecific">Specify ethnic background or country</label>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preEthnic" id="noPreference" value="I have no Preference" >
                  I have no Preference
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
        </div>

        <h6>Immigration Status</h6>
        <div class="row">
            <div class="col-sm-7">
          <label>I would prefer my future spouse is a-</label>
          <br>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preImmigrationStatus" id="UScitizen" value="US Citizen" >
                  US Citizen
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preImmigrationStatus" id="permanentResident" value="Permanent Resident" >
                  Permanent Resident
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="preImmigrationStatus" id="other" value="Other" >
                  Other (specify)
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          <div class="col-sm-5">
            <div class="form-group form-floating">
                <input type="text" class="form-control" placeholder="if Other, Please Specify" id="preImmigrationStatusOther">
                <label for="preImmigrationStatusOther">if Other, Please Specify</label>
            </div>
          </div>
        </div>

        <div class="row">
        <h6>Marital Status</h6>

          <div class="col-sm-12">
          <label>I prefer a spouse who’s-</label>
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="preMaritalStatus" id="single" value="Single" checked="">
              Single
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="preMaritalStatus" id="divorced" value="Divorced" >
              Divorced
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="preMaritalStatus" id="widowed" value="Widowed" >
              Widowed
              <span class="form-check-sign"></span>
            </label>
          </div>
          </div>
          <h6>Children</h6>

            <div class="col-sm-12">
            <label>I am willing to consider a spouse with existing children-</label>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="preChildren" id="yes" value="Yes">
                Yes
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="preChildren" id="no" value="No" >
                No
                <span class="form-check-sign"></span>
              </label>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="btn btn-danger accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">

Personal Information
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Yes. Registration is completely free. But you may donate us if you like our service.</div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-md-9 ml-auto mr-auto" >
      </div>
      <div class="col-md-3">
          <button (click)=clickSave() class="btn btn-success btn-block btn-lg btn-fill">Save</button>
      </div>
  </div>
</div>
</div>
