<!--==========================
  FAQ Section
============================-->
<section id="faq" class="wow fadeInUp">
  <div class="container">
  <div class="section-header">
      <h2>FREQUENTLY ASKED QUESTIONS</h2>
      <p>Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
        Marriage Registration, Post marriage Counselling.</p>
      </div>
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="assets/img/about-img.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Why do I choose MUNA Matrimonial?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">This is the only matrimonial platform for North American Bengali Muslims. To choose perfect life partnar, you may use MUNA Matrimonial.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              How to register?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Go to Login, or Let's Begin button on Home page. You will be guided our registration process.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Is registration completely free?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Yes. Registration is completely free. But you may donate us if you like our service.</div>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section><!-- #about -->
