<!--==========================
  Call To Action Section
============================--
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center mr-auto ml-auto">
        <h3 class="cta-title">SIGN UP FOR FREE!</h3>
      </div>

    </div>

  </div>
</section><!-- #call-to-action -->

<div class="container-fluid" style="height:50px; background-color: #F44336;"></div>

<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Sign Up for FREE!</h2>
                <div class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label><span *ngIf=!fullNameValidate() style="color:red;">. *Please insert your name</span>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="FullName" placeholder="Your Full Name" (focus)="focus=true" (blur)="focus=false" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <span *ngIf=!emailValidate() style="color:red;">. *Please insert your email address.</span>

                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="Email" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label><span *ngIf=!genderValidate() style="color:red;">. *Please select gender</span>
                            <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">

                                <select [(ngModel)]="Gender" class="form-control" placeholder="Select Your Gender">
                                  <option value="Female">Female
                                  <option value="Male">Male
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Date of Birth</label>
                            <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                                <input  class="form-control" placeholder="yyyy-mm-dd"
                                name="dp" [(ngModel)]="DateOfBirth" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" >
                                <div class="input-group-append">
                                    <span class="glyphicon glyphicon-calendar input-group-text">
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label>Cell Phone</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-mobile"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="CellPhone" placeholder="Cell Phone" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>State</label>
                            <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">

                                <select [(ngModel)]="State" class="form-control">
                                  <option value="Alabama" selected>Alabama
                                  <option value="Newyork">New York
                                  <option value="California">California
                                  <option value="Texus">Texus
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Password</label><span *ngIf=!passwordValidate() style="color:red;">. *You must set a password</span>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="pass1" placeholder="Set a Password" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Retype Password .</label>
                            <span >
                              <i *ngIf=!passMatched() style="color:red;" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                              <i *ngIf=passMatched() style="color:green;"class="fa fa-check-circle" aria-hidden="true"></i>
                              <span *ngIf=!passwordValidate() style="color:red;">. Retype password correctly.</span>
                            </span>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-key-25"></i></span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="pass2" placeholder="Retype Your Password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>

                    </div>

                    <!-- big message box
                    -------------------
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <!-- big message box end
                    -------------------->


                    <div class="row">
                        <p>{{this.paragraph}}</p>
                        <div class="col-md-4 mr-auto ml-auto">

                            <button (click)="createClick()" class="btn btn-danger btn-lg btn-fill">Confirm Registration</button>
                            <p *ngIf=userAlreadyExist style="color:red; text-align:center;">You have already registered!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
