
<app-profile-home></app-profile-home>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <p>Short Bio: "Our Lord, grant us from among our wives and offspring comfort to our eyes and make us an example for the righteous." </p>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h6 class="description">Profile Completeness</h6>
        <ngb-progressbar type="success" class="mt-0" [value]="25" [striped]="true" [animated]="true"><i>25%</i></ngb-progressbar><br>
        <p>Your profile is not complete yet. To see who best matches you, please complete your profile.</p>
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-12 ml-auto mr-auto text-center">
        <button type="button" class="btn btn-outline-danger btn-just-icon"><i class="nc-icon nc-chat-33"></i></button>
        <button type="button" class="btn btn-outline-danger btn-just-icon"><i class="nc-icon nc-tap-01"></i></button>
        <button routerLink="top-matches" type="button" class="btn btn-outline-danger btn-round">Top Matches</button>
        <button type="button" class="btn btn-outline-danger btn-round">View Profile</button>
        <button type="button" class="btn btn-outline-danger btn-round">Complete Profile</button>

    </div>
</div>
<br/>

<router-outlet></router-outlet>
-->












<div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
            <ngb-tab title="Top 5 Matches">
                <ng-template ngbTabContent >
                    <div class="row following" id="follows">
                        <div class="col-md-6 ml-auto mr-auto">
                            <ul class="list-unstyled follows">
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-sm-4 ml-auto">
                                            <h6>Flume<br/><small>Musical Producer</small></h6>
                                        </div>
                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                <span class="form-check-sign"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-sm-4 ml-auto">
                                            <h6>Banks<br /><small>Singer</small></h6>
                                        </div>
                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                <span class="form-check-sign"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Edit Profile">
                <ng-template ngbTabContent *ngIf=true>
                    <h3 class="text-muted">Not following anyone yet :(</h3>
                    <br>
                    <button class="btn btn-warning btn-round">Find artists</button>
                </ng-template>
                <ng-template ngbTabContent *ngIf=false>
                    <h3 class="text-muted">Not following anyone yet True :(</h3>
                    <br>
                    <button class="btn btn-warning btn-round">Find artists</button>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
