<div>
<app-profile-home></app-profile-home>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <p>Short Bio: "Our Lord, grant us from among our wives and offspring comfort to our eyes and make us an example for the righteous." </p>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h6 class="description">Profile Completeness</h6>
        <ngb-progressbar type="success" class="mt-0" [value]=pct [striped]="true" [animated]="true"><i>{{pct}}%</i></ngb-progressbar><br>
        <div *ngIf=!profileComplete()>
          <p>Your profile is not complete yet. To see who best matches you, please complete your profile.</p>
          <button [routerLink]="['/edit-profile']" type="button" class="btn btn-outline-danger btn-round">Complete Profile</button>
        </div>
        <br>
        <div *ngIf=profileComplete()>
          <button type="button" class="btn btn-outline-danger btn-round">TOP MATCHES</button>
        </div>
    </div>

</div>


<div class="nav-tabs-navigation" *ngIf=profileComplete()>
    <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
            <ngb-tab title="">
                <ng-template ngbTabContent >
                    <div class="row following" id="follows">
                        <div class="col-md-6 ml-auto mr-auto">
                            <ul class="list-unstyled follows">
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/profile-icon.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-sm-4 ml-auto">
                                            <h6>Bony<br/><small>Age 23</small></h6>
                                        </div>
                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                <span class="form-check-sign"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/profile-icon.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-sm-4 ml-auto">
                                            <h6>Rifat<br /><small>Age 30</small></h6>
                                        </div>
                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                <span class="form-check-sign"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
</div>
