<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>OUR SERVICES</h2>
      <p>Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
        Marriage Registration, Post marriage Counselling.
      </p>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-calendar"></i></div>
          <h4 class="title"><a href="">PREMARRIAGE SEMINAR</a></h4>
          <p class="description">Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
            Marriage Registration, Post marriage Counselling.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-university"></i></div>
          <h4 class="title"><a href="">ARRANGING MARRIAGE</a></h4>
          <p class="description">Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
            Marriage Registration, Post marriage Counselling.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">CONDUCTING MARRIAGE</a></h4>
          <p class="description">Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
            Marriage Registration, Post marriage Counselling.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-book"></i></div>
          <h4 class="title"><a href="">MARRIAGE REGISTRATION</a></h4>
          <p class="description">Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
            Marriage Registration, Post marriage Counselling.</p>
          </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-child"></i></div>
          <h4 class="title"><a href="">POST MARRIAGE COUNSELLING</a></h4>
          <p class="description">Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
            Marriage Registration, Post marriage Counselling.</p>
          </div>
      </div>


    </div>

  </div>
</section><!-- #services -->
