<!--==========================
  Our Portfolio Section
============================-->
<section id="portfolio" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Events</h2>
      <p>Find your soulmate here. We arrange premarriage seminar/counseling, mediate marriage, Conduct marriages,
        Marriage Registration, Post marriage Counselling.</p>
      </div>
  </div>

  <div class="container-fluid">
    <div class="row">  <!--<div class="row no-gutters"> if I want no padding-->

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/portfolio/11-8-Marriage-seminar.jpg" class="portfolio-popup">
            <img src="assets/img/portfolio/11-8-Marriage-seminar.jpg" alt="" style="height:210px;">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">Seminar on marriage in Islam</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4" style="background-color:#7E2578;">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <h4>Seminar on Marriage</h4>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/portfolio/1581.jpg" class="portfolio-popup">
            <img src="assets/img/portfolio/1581.jpg" alt="" style="height:210px;">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">Education program</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4" style="background-color:#7E2578;">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <h4>Education Program</h4>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>

        </div>
      </div>
      </div>
<br>
      <div class="row">

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/portfolio/reception.jpg" class="portfolio-popup">
            <img src="assets/img/portfolio/reception.jpg" alt="" style="height:210px;">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">Post marriage reception</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4" style="background-color:#7E2578;">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <h4>Post Marriage Reception</h4>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/portfolio/cultural.jpg" class="portfolio-popup">
            <img src="assets/img/portfolio/cultural.jpg" alt="" style="height:210px;">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">Islamic cultural program</h2></div>
            </div>
          </a>
        </div>
      </div>







      <div class="col-lg-3 col-md-4" style="background-color:#7E2578;">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <h4>Islamic Cultural Program</h4>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>

            <h6>Oct 08, 2021 3PM: </h6>
            <p style="text-align: justify">A seminar on Isalmic Marriage will be held at New York</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- #portfolio -->
