<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#" style="color:#777777;">About</a></li>
                    <li><a href="#" style="color:#777777;">Privacy Policy</a></li>
                    <li><a href="#" style="color:#777777;">FAQ</a></li>
                    <li><a href="#" style="color:#777777;">Important Links</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Innovation21
                </span>
            </div>
            
        </div>
    </div>
</footer>

<!--==========================
  Footer
============================--
<footer id="footer">
  <div class="container">
    <nav class="footer-nav">
        <ul>
            <li><a href="#" style="color:#777777;">About</a></li>
            <li><a href="#" style="color:#777777;">Privacy Policy</a></li>
            <li><a href="#" style="color:#777777;">FAQ</a></li>
            <li><a href="#" style="color:#777777;">Important Links</a></li>
        </ul>
    </nav>
    <div class="copyright">
      &copy; Copyright <strong>Innovation 21</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Template by <a href="https://webthemez.com/consulting/">WebThemez</a>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
