<app-profile-home></app-profile-home>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <p>Short Bio: "Our Lord, grant us from among our wives and offspring comfort to our eyes and make us an example for the righteous." </p>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h6 class="description">Profile Completeness</h6>
        <ngb-progressbar type="success" class="mt-0" [value]="25" [striped]="true" [animated]="true"><i>25%</i></ngb-progressbar><br>
        <p>Your profile is not complete yet. To see who best matches you, please complete your profile.</p>
    </div>
</div>
